/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; };

.ai-c{
    align-items: center;
}

.ac-c{
    align-content: center;
}

.ta-c{
    text-align: center;
}

.flex{
    flex: 1 1 auto;
}


.mc{
    margin: center;
}

button:hover{
background-color: #3e4144;
}

button:focus{
    outline: none;
}

.p-1{
    padding: 1px;
}

.row{
    display: flex;
}

.col{
    flex-grow   : 1;
    margin-right: 10px;
}
input{
    display: block;
    margin : 5px;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
